
<% if current_user.admin == true  %>
  <h1 class="center" style="color: darkcyan" align="center"> IT Support Engineers</h1>
  <%= link_to 'New User', new_article_path, class: 'btn btn-success', style: 'color:white; margin-bottom:1%; margin-left:1%;' %><br/>
  <div class="col-md-12">
    <table class="table table-hover table-striped table-border">
      <tr class="success">
        <th>ID</th>
        <th>Country</th>
        <th>City</th>
        <th>Candidate Name </th>
        <th>Skills </th>
        <th>Email </th>
        <th>Phone </th>
        <th class="align-content-center">Action </th>
      </tr>
      <% @articles.each do |article| %>
        <tr >
          <td><%= article.id %></td>
          <td><%= article.country %></td>
          <td><%= article.city  %></td>
          <td><%= article.candidate_name %></td>
          <td><%= article.skills %></td>
          <td><%= article.email %></td>
          <td><%= article.phone %></td>
          <td><%= link_to 'Show', article_path(article), class: 'btn btn-primary', style: 'color:White;' %>
            <%= link_to 'Edit', edit_article_path(article),  class: 'btn btn-info',  style: 'color:White;' %>
            <%= link_to 'Destroy', article_path(article),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, class: 'btn btn-danger',  style: 'color:White;' %></td>
      <%end %>
      </tr>
    </table>
<%else %>
  <div class="container">
    <div class="center" >
      <h1 style=" text-align: center;text-transform: uppercase; color: #4CAF50;"> IT Support Engineers </h1>
      <table class="table table-hover table-striped table-border table table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>Country</th>
          <th>City</th>
          <th>Candidate Name </th>
          <th>Skills </th>
          <th>Email </th>
          <th>Phone </th>
          <th>Action </th>


        </tr>
        </thead>
        <tbody>
        <% @article.each do |article| %>
          <tr >
            <td><%= article.id %></td>
            <td><%= article.country %></td>
            <td><%= article.city %></td>
            <td><%= article.candidate_name %></td>
            <td><%= article.skills %></td>
            <td><%= article.email %></td>
            <td><%= article.phone %></td>
            <td><%= link_to 'Show', article_path(article), class: 'btn btn-primary', style: 'color:White;' %></td>

          </tr>
        <%end %>
        <br/>
        </tbody>
      </table>
    </div>

  </div>
  </div>
<%end %>






