
<p>
  <strong>Country:</strong>
  <%= @article.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @article.city %>
</p>

<p>
  <strong>Candidate Name:</strong>
  <%= @article.candidate_name %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @article.skills %>
</p>

<p>
  <strong>Email:</strong>
  <%= @article.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @article.phone %>
</p>
<%= link_to 'Back', articles_path %>
