<div class="col-md-offset-4 col-md-4" align="" style="margin-top: 10%; background-color: white;">
  <table class="table table-striped " >
    <tbody>
    <tr>
<td>
  <strong>Country:</strong></td>
      <td>
  <%= @article.country %>
      </td>

</tr>
<tr>
  <td><strong>City:</strong></td>
  <td><%= @article.city %></td>
</tr>

<tr>
  <td>
  <strong>Candidate Name:</strong></td>
  <td>
  <%= @article.candidate_name %>
  </td>
</tr>

<tr>
  <td>
  <strong>Skills:</strong></td>
  <td>
  <%= @article.skills %></td>
</tr>

<tr>
  <td>
  <strong>Email:</strong></td>
  <td>
  <%= @article.email %></td>
</tr>

<tr>
  <td>
  <strong>Phone:</strong></td>
  <td>
    <%= @article.phone %></td>

</tr>
    </tbody>
  </table>
  <%= link_to 'Back', articles_path, class: "btn btn-success ", style:"margin-bottom: 2%" %>
</div>